<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>RLS App</title>
  <link rel="stylesheet" type="text/css" href="javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./BarChart.css" type="text/css" media="all" /> -->
  <!-- Integrated ReactBootstrap -->
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/BarChart.css"> -->

</head>

<body>

  <div id ="BindMainComponent">
  </div>



    <script src="/javascripts/index.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--   <script type="text/javascript" src="javascripts/bower_components/react/react.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/react/react-dom.js"></script> -->
    <script type="text/javascript" src="javascripts/bower_components/babel/browser.js"></script>
    <script type="text/javascript" src="javascripts/bundle.js"></script>
</html>
